extends layout

block sign-up
  .list-item.sign-up
      .row
        .columns.eight.offset-by-two
          iframe(width="100%", height="400", src="http://www.youtube.com/embed/le0dfcG_jVw?feature=player_embedded&amp;theme=light&rel=0&wmode=transparent", frameborder="0", allowfullscreen)
        form.email-form.columns.six.row.collapse.center(method="POST", action="/subscribe")
          h3 Join our mailing list
          .columns.eight.mobile-three
            input(type="text", name="email", placeholder="Email Address")
          .columns.four.mobile-one
            input.button.alert.btn-join-mailing.expand.postfix(type="submit", name="submit", value="Join")
          .columns.twelve.mobile-four
            p Receive weekly progress updates on creating a coworking space in Riverside.
        .columns.six.center
          h3 Get Involved Today
          a.button.large(href="/pdfs/pitch-deck.pdf") Download Pitch Deck
          br
          br
          p Put it on your phone or tablet device. Show it to others to get them involved!
