block header
  .list-item.header
    .row
      .columns.six.offset-by-three
        .columns.four.center
          img(src="/images/riverside-io.svg")
        .columns.eight.center
          h1
            | Riverside.io
        .columns.twelve
          p.description We are a group of people actively growing a Coworking community in Riverside.

