extends layout

block content
  #index
    .row
      .span2.person
        .center
          img.face.roundify(src="/images/ben.jpg")
          h4.center Ben Mueller
        p Danish brownie topping. Topping dessert liquorice jelly beans cheesecake. Wafer lemon drops gingerbread jelly-o cake.
      .span1 &nbsp;
      .span2.person
        .center
          img.face.roundify(src="/images/jacob.jpg")
          h4 Jacob Lowe
        p Cookie pie gummies halvah topping liquorice sugar plum bonbon cheesecake. Apple pie sugar plum topping biscuit soufflé brownie liquorice jujubes wypas. Lollipop pastry marzipan. Macaroon cupcake jelly beans faworki jelly.
      .span1 &nbsp;
      .span2.person
        .center
          img.face.roundify(src="/images/scott.jpg")
          h4 Scott Motte
        p Lemon drops cupcake chocolate cake jujubes liquorice soufflé cookie liquorice sweet. Sweet roll pudding bear claw tiramisu faworki tootsie roll pastry gingerbread. Halvah lollipop donut croissant sesame snaps.
        