extends layout

block content
  #index
    h2.center Come to our meetups
    .row.meetings.well
      .span5.map-mock
        a(href="https://maps.google.com/maps?q=coffee+bean,+riverside,+ca&hl=en&ll=33.982358,-117.373885&spn=0.004668,0.005284&sll=34.079522,-118.265&sspn=0.210996,0.338173&t=h&hq=coffee+bean,&hnear=Riverside,+California&fll=33.982358,-117.373885&fspn=0.004668,0.005284&z=18")
      .span3.details
        h3 We meet at 12pm every Friday to co-work and plan our coworking space.
        hr
        h4 Location: Coffee Bean
        p
          a(href="https://maps.google.com/maps?q=coffee+bean,+riverside,+ca&hl=en&ll=33.982358,-117.373885&spn=0.004668,0.005284&sll=34.079522,-118.265&sspn=0.210996,0.338173&t=h&hq=coffee+bean,&hnear=Riverside,+California&fll=33.982358,-117.373885&fspn=0.004668,0.005284&z=18") 3712 Mission Inn Ave, Riverside, CA 92501

        h4 Time and Date
        p 12:00pm every Friday
        p
          img(src="/images/meeting-team.jpg")
      .span8.join-us
        p.center Join us for our weekly meeting and share your ideas to help shape and form Riverside’s first coworking space.

    hr
    h2.center Who we are
    .row.persons
      - members.people.forEach(function(person){
        .span2.person
          .center
            a.shadow
              img.face.roundify(src=person.avatar)
          h4= person.name
          p!= person.description
        .span1.hidden-tablet.hidden-phone.person-spacer &nbsp;
      - })