extends layout

block header
  .list-item.top-bar
    .clearfix
    .container
      .row
        .span2 &nbsp;
        .span8
          .header.center
            h1
              img(src="/images/riverside-io.svg")
              span Riverside.io
            .description We are a group of people actively growing a Coworking community in Riverside.
    .clearfix

block sign-up
  .list-item.sign-up
    .container
        .row
          .span6
            iframe(width="100%", height="400", src="http://www.youtube.com/embed/le0dfcG_jVw?feature=player_embedded&theme=light", frameborder="0", allowfullscreen)
          .span6.center
            h2 Join our mailing list
            form.email-form(method="POST", action="http://riverside.us5.list-manage.com/subscribe/post")
              p Receive weekly progress updates on creating a coworking space in Riverside.
              input(type="hidden", name="u", value="0b634d613f02dd256ad0d7317")
              input(type="text", name="email", placeholder="Email Address")
              input.btn.btn-danger.btn-large.btn-join-mailing(type="submit", name="submit", onClick="_gaq.push(['_trackEvent', 'Buttons', 'Subscribe', 'Join Mailing List']);", value="Join")
            h2 Get Involved
            a.btn.btn-info.btn-large.btn-join-mailing(href="/pdfs/pitch-deck.pdf", onClick="_gaq.push(['_trackEvent', 'Buttons', 'Download', 'Download Pitch Deck']);") Download Pitch Deck
            br
            br
            p Put it on your phone or tablet device. Show it to others to get them involved!


block content
  .list-item
    .container
      .row
        .span12
          h2 Meet with us
        .span5.center
          a(href="https://maps.google.com/maps?q=coffee+bean,+riverside,+ca&hl=en&ll=33.982358,-117.373885&spn=0.004668,0.005284&sll=34.079522,-118.265&sspn=0.210996,0.338173&t=h&hq=coffee+bean,&hnear=Riverside,+California&fll=33.982358,-117.373885&fspn=0.004668,0.005284&z=18")
            img(src="/images/map-coffee-bean.jpg")
        .span7.details.center
          h4 We meet at 12pm every Friday to co-work and plan our coworking space.
          br
        .span3.center
          p
            img(src="/images/meeting-team.jpg")
        .span4.details
          h4 Location: Coffee Bean
          p
            a(href="https://maps.google.com/maps?q=coffee+bean,+riverside,+ca&hl=en&ll=33.982358,-117.373885&spn=0.004668,0.005284&sll=34.079522,-118.265&sspn=0.210996,0.338173&t=h&hq=coffee+bean,&hnear=Riverside,+California&fll=33.982358,-117.373885&fspn=0.004668,0.005284&z=18") 3712 Mission Inn Ave, Riverside, CA 92501

          h4 Time and Date
          p 12:00pm every Friday
        .span7.join-us.center
          br 
          br
          p.center Join us for our weekly meeting and share your ideas to help shape and form Riverside’s first coworking space.

  .list-item
    .container
        .row
          .span12
            h2 Things We Like
          .span6.center
            <iframe src="http://player.vimeo.com/video/32424882?title=0&amp;byline=0&amp;portrait=0" width="100%" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            h4 <a href="http://startupweekend.org">Startup Weekend</a>
            p We've competed in <a href="http://startupweekend.org">StartupWeekend</a>s in Southern California. They are excellent events.
          .span6.center
            <iframe src="http://player.vimeo.com/video/38101676?color=00c4ff" width="100%" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            h4 The Most Astounding Fact
            p Astrophysicist <a href="http://en.wikipedia.org/wiki/Neil_deGrasse_Tyson">Dr. Neil DeGrasse Tyson</a> speaks to Connectivity as the most astounding fact.
          .span3 &nbsp;
          .span6.center
            <iframe src="http://player.vimeo.com/video/21837974?badge=0&amp;color=ffffff" width="100%" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            h4 <a href="http://betahaus.de/">betahaus</a>
            p <a href="http://betahaus.de/">betahaus</a> is Berlin's coworking space. They have a large space, a coffee shop inside the coworking space, and events every week.
          .span3 &nbsp;

  .list-item.members
    .container
      .span12
        h2 Who we are
        .row.persons
          - members.people.forEach(function(person){
            .span2.person
              .center
                a.shadow
                  img.face.roundify(src=person.avatar)
              h4= person.name
              p!= person.description
              .clearfix
          - })