extends layout

block content
  #index
    h2.center Come to our meetups
    .row.meetings.well
      .span5.map-mock
        a(href="https://maps.google.com/maps?q=coffee+bean,+riverside,+ca&hl=en&ll=33.982358,-117.373885&spn=0.004668,0.005284&sll=34.079522,-118.265&sspn=0.210996,0.338173&t=h&hq=coffee+bean,&hnear=Riverside,+California&fll=33.982358,-117.373885&fspn=0.004668,0.005284&z=18")
      .span3.details
        h4 We meet at 12pm every Friday to co-work and plan our coworking space.
        hr
        h4 Location: Coffee Bean
        p
          a(href="https://maps.google.com/maps?q=coffee+bean,+riverside,+ca&hl=en&ll=33.982358,-117.373885&spn=0.004668,0.005284&sll=34.079522,-118.265&sspn=0.210996,0.338173&t=h&hq=coffee+bean,&hnear=Riverside,+California&fll=33.982358,-117.373885&fspn=0.004668,0.005284&z=18") 3712 Mission Inn Ave, Riverside, CA 92501

        h4 Time and Date
        p 12:00pm every Friday
        p
          img(src="/images/meeting-team.jpg")
      .span8.join-us
        p.center Join us for our weekly meeting and share your ideas to help shape and form Riverside’s first coworking space.

    hr
    h2.center Who we are
    .row.persons
      - members.people.forEach(function(person){
        .span2.person
          .center
            a.shadow
              img.face.roundify(src=person.avatar)
          h4= person.name
          p!= person.description
        .span1.hidden-tablet.hidden-phone.person-spacer &nbsp;
      - })

    hr
    h2.center Things we like.

    .row
      .span6
        <iframe src="http://player.vimeo.com/video/32424882?title=0&amp;byline=0&amp;portrait=0" width="100%" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      .span2
        h4 <a href="http://startupweekend.org">Startup Weekend</a>
        p We've competed in <a href="http://startupweekend.org">StartupWeekend</a>s in Southern California. They are excellent events.
    .row
      .span4
        <iframe width="100%" height="400" src="http://www.youtube.com/embed/4AeWE6BLi_U?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
      .span4
        <iframe src="http://player.vimeo.com/video/44585865" width="100%" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

    //- br
    //- .row
    //-   .span5
    //-     a(href="http://startupie.com", target="_blank")
    //-       img(src="/images/startupie.jpg")
    //-     br
    //-   .span3
    //-     h4 <a href="http://startupie.com" target="_blank">Startup IE</a>
    //-     p We are key members of <a href="http://startupie.com" target="_blank">Startup IE</a>. Startup IE hosts events and talks for the burgeoning startup scene in Riverside and the surrounding Inland Empire.
    //- br
    //- .row
    //-   .span5
    //-     a(href="http://riversidejs.org", target="_blank")
    //-       img(src="/images/riversidejs.jpg")
    //-   .span3
    //-     h4 <a href="http://riversidejs.org" target="_blank">Riverside JS</a>
    //-     p We are key members of <a href="http://riversidejs.org" target="_blank">RiversideJS</a>. RiversideJS hosts meetings to teach others about programming in JavaScript.