doctype 5
html(lang='en')
head
  meta(charset='utf-8')
  title Riverside.io - Coworking in Riverside
  meta(name='description', content="Riverside.io is a group of people actively coworking together in Riverside.")
  meta(name='keywords', content="Coworking, Riverside, Co-working, co-working, Riverside.io, learn to code, events, coworking events, startupie, riversidejs, riverside.js, startup_ie, downtown Riverside, scarfs")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.5")
  meta(name='author', content='Ben Mueller, Scott Motte, Jacob Lowe')

  link(href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/css/bootstrap.min.css", rel="stylesheet")
  link(href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/css/bootstrap-responsive.min.css", rel="stylesheet")
  link(href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin,latin-ext", rel="stylesheet")

  // Le Styles 
  != css('application')
  
body
  block header
  block sign-up
  block content

  script
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36543871-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
