doctype 5
html(lang='en')
head
  meta(charset='utf-8')
  title Riverside.io
  meta(name='description', content="Riverside.io is rad.")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.5")
  meta(name='author', content='Ben Mueller, Scott Motte, Jacob Lowe')

  link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap.min.css", rel="stylesheet")
  link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-responsive.min.css", rel="stylesheet")
  link(href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin,latin-ext", rel="stylesheet")

  // Le Styles 
  != css('application')
  
  body
    .container
      .row
        .span2 &nbsp;
        .span8
          .header.center
            h1
              span Riverside.io
            .description We are a group of people actively coworking together in Riverside. Come join us!

            a.btn.btn-danger.btn-large(href="http://eepurl.com/qZh-T") Join the mailing list

            p &nbsp;
            p <a href="http://eepurl.com/qZh-T">Join the mailing list</a> to receive updates and join us on our goal to create a coworking space in Riverside.


          hr
      .row
        .span2 &nbsp;
        .span8
          block content

    //- != js('application')
 