doctype 5
html(lang='en')
head
  meta(charset='utf-8')
  title Riverside.io - Coworking in Riverside
  meta(name='description', content="Riverside.io is a group of people actively coworking together in Riverside.")
  meta(name='keywords', content="Coworking, Riverside, Co-working, co-working, Riverside.io, learn to code, events, coworking events, startupie, riversidejs, riverside.js, startup_ie, downtown Riverside, scarfs")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.5")
  meta(name='author', content='Ben Mueller, Scott Motte, Jacob Lowe')

  link(href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/css/bootstrap.min.css", rel="stylesheet")
  link(href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/css/bootstrap-responsive.min.css", rel="stylesheet")
  link(href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin,latin-ext", rel="stylesheet")

  // Le Styles 
  != css('application')
  
  body
    .container
      .row
        .span2 &nbsp;
        .span8
          .header.center
            h1
              span Riverside.io
            .description We are a group of people actively growing a Coworking community in Riverside.

            hr
            <iframe width="100%" height="400" src="http://www.youtube.com/embed/le0dfcG_jVw?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
            
            .row
              .span8
                h2.center Get Involved Today
                br
              .span4
                a.btn.btn-danger.btn-large.btn-join-mailing(href="http://eepurl.com/qZh-T") Join The Mailing List
                p Receive weekly progress updates on creating a coworking space in Riverside.
              .span4
                a.btn.btn-info.btn-large.btn-join-mailing(href="/pdfs/pitch-deck.pdf") Download Pitch Deck
                p Put it on your phone or tablet device. Show it to others to get them involved!
      .row
        .span2 &nbsp;
        .span8
          block content

    //- != js('application')
 