doctype 5
html(lang='en')
head
  meta(charset='utf-8')
  title Riverside.io
  meta(name='description', content="Riverside.io is rad.")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.5")
  meta(name='author', content='Ben Mueller, Scott Motte, Jacob Lowe')

  link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap.min.css", rel="stylesheet")
  link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-responsive.min.css", rel="stylesheet")
  link(href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin,latin-ext", rel="stylesheet")

  // Le Styles 
  != css('application')
  
  body
    .container
      .row
        .span2 &nbsp;
        .span8
          .header.center
            img.logo.roundify(src="http://placehold.it/164")
            h1
              i
              span Riverside.io
            p Oat cake wafer donut sweet roll. Wafer muffin cheesecake pastry chupa chups cotton candy bear claw. Ice cream apple pie lollipop cupcake. Macaroon tiramisu caramels.
      .row
        .span2 &nbsp;
        .span8
          block content

    //- != js('application')
 