doctype 5
html(lang='en')
head
  meta(charset='utf-8')
  title Riverside.io
  meta(name='description', content="Riverside.io is rad.")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.5")
  meta(name='author', content='Ben Mueller, Scott Motte, Jacob Lowe')

  link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap.min.css", rel="stylesheet")
  link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-responsive.min.css", rel="stylesheet")
  
  body
    .container
      .row
        .span12
          h2 Locations
          table.table
            tr
              th Name
              th Location
              th $/sq ft
              th Photos

            tr
              td Above the Hideaway
              td Downtown
              td $1
              td 
            tr
              td 13th and Orange
              td Edge of Downtown
              td $1.50
              td
                img(src="http://i.imgur.com/2Wrc7.jpg", width="300")
                img(src="http://i.imgur.com/Fi5QA.jpg", width="300")
            tr 
              td 4010 Merrill Ave
              td Central Riverside
              td Unknown
              td 
                img(src="http://i.imgur.com/zajN6.jpg", width="300")
                img(src="http://i.imgur.com/Acm6K.jpg", width="300")
