// Mixins
border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

inset()
  -moz-box-shadow:    0px 1px 1px 0px rgba(255,255,255,.8), inset 0px 1px 1px 0px rgba(0,0,0,.3)
  -webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255,.8), inset 0px 1px 1px 0px rgba(0,0,0,.3)
  box-shadow:         0px 1px 1px 0px rgba(255,255,255,.8), inset 0px 1px 1px 0px rgba(0,0,0,.3)

shadow(color)
  -moz-box-shadow:    0px 1px 1px 0px color
  -webkit-box-shadow: 0px 1px 1px 0px color
  box-shadow:         0px 1px 1px 0px color

@-webkit-keyframes fade-in
  0%    { opacity: 0; }
  50%   { opacity: 0; }
  100%  { opacity: 1; }

body
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 1.5s;

// Style
body
  font-family: "Open Sans"
  font-weight: 300
  background: #fff url(/images/patterns/subtle_dots.png)


.list-item
  padding 20px 0
  box-shadow inset 0px 0px 20px rgba(255,255,255,.5)
  border-bottom 1px solid #d2d2d2

  &:nth-child(2n+2)
    box-shadow inset 0px 0px 20px rgba(0,0,0,.1);

  &.members
    background #efefef

  &.sign-up
    background #222
    color #fff

.container
  margin-bottom: 10px;

.btn-join-mailing
  padding : 15px 20px;
  font-size: 20px;
  font-weight: 700;

.well
  inset()

.center
  text-align: center


.roundify
  border-radius(50%)

.email-form
  input[type=text]
    font-size 20px
    padding 15px 20px
    margin-bottom 0
    border-radius(4px 0 0 4px)
    line-height 2em
  .btn-join-mailing
    margin-top 2px
    border-radius(0 4px 4px 0)

.header
  img
    max-width 150px
    margin 0 10px 0 0
  margin-top: 1em
  h1
    font-size: 60px;
    line-height: 120px;
  .description
    font-size: 20px
    margin-bottom: 20px
  img.logo
    margin: 20px

#index
  text-align: left
  margin-bottom: 40px
  .shadow
    display: block;
    position: relative;
    max-width: 120px;
    max-height: 120px;
    margin: 20px auto;
    //shadow(#333)
    &:before
      content:'';
      position:absolute;
      width:100%;
      height:100%;
      inset();
      border-radius(50%);
  .person-spacer:nth-child(3n+3)
    display: none;

    

.meetings
    overflow: hidden;
    position: relative;
    height : 440px;

    div
      position: absolute;

    .map-mock
      margin: 0;
      top: 0;
      left: 0;
      a
        display: block;
        height: 420px;
        width: 100%;

    .details
      top: 1px;
      right: 1px;
      padding: 20px;
      height : 377px;
      overflow: hidden;
      background: rgba(255,255,255,.8);

    .join-us
      top: 440px;
      left: 0;
  .persons
    .person
      height: 350px;
      overflow: hidden;
      text-overflow: ellipsis;
      .face
        max-width 100px


@media(max-width: 767px)

  body
    padding 0;

    .container

      padding 0 30px

  #index

    .meetings
      .details
        max-width : 50%;
      .join-us
        top: 430px;
        background: rgba(255,255,255,.8);
    

  .persons
    margin: 0 auto;
    display: table;
    .person
      height: auto!important;
      border-bottom: 1px solid #ddd;
      &:first-child
        border-top: 1px solid #ddd
      .center
        margin: 10px 30px 10px 0;
        display: table;
        float: left;
        .face
          max-width: 64px;


  
