.big_wrapper
  #middle_reserve.wrapper.center
    <img src="/images/riverside-io.svg" width="120"> 
    a.blue_button.reserve(href='http://riverside.us5.list-manage2.com/subscribe?u=0b634d613f02dd256ad0d7317&id=27ea75d96b', target='_blank', onClick="_gaq.push(['_trackEvent', 'Mailing List', 'Subscribe', 'Join Mailing List']);") Join Mailing List