#faqs.gray_background
  .wrapper.clearfix
    h4 Frequently Asked Questions
    ul
      li
        details
          summary What is a 'committed' member?
          p
            | A 'committed' member is currently a member who is paying $100/month to help make this a reality. 
            | All of that money is being saved to help sustain rent when we settle on the final location.
      li
        details
          summary Can I come to the meetings and help if I don't want to be a 'committed' member?
          p
            | Of course! You can help out in any way you can and come to all the meetings.
    ul.col2
      li
        details
          summary Where is the coworking space going to be located?
          p
            | It will be located in downtown Riverside. 
            | We haven't settled on the final location yet, but it will be somewhere in the downtown area.