#header
  .wrapper.clearfix
    h1#lockitron_header
      a(href='/') Riverside.io
    a(id="updates", href="http://us5.campaign-archive1.com/home/?u=0b634d613f02dd256ad0d7317&id=27ea75d96b", target="_blank") Updates <span class="count">2</span>
    a(id="subscribe_button", href="http://riverside.us5.list-manage2.com/subscribe?u=0b634d613f02dd256ad0d7317&id=27ea75d96b", target="_blank") Subscribe