#milestones
  .wrapper.clearfix
    h2 Milestones
.big_wrapper
  #one.wrapper
    .point_copy
      h3
        | 11/9 - 4 Committed Members
      p
        | We started our very first meeting with just four of us. 
        | One of our first goals was setting up a <a href="http://us5.campaign-archive1.com/home/?u=0b634d613f02dd256ad0d7317&id=27ea75d96b" target="_blank">mailing list</a> and the website. 
        | We accomplished both in that first meeting.

.big_wrapper
  #two.wrapper
    .point_copy.right
      h3
        | 11/23 - 6 Committed Members
      p
        | In just two weeks we grew to 6 committed members plus many others visiting at our weekly meetings.
        | We completed a <a href="/images/riverside-io.svg" target="_blank">logo</a> and <a href="/pdfs/pitch-deck.pdf" target="_blank">pitch deck</a>, and we had compiled a list of many possible locations.

.big_wrapper
  #three.wrapper
    .point_copy
      h3
        | 12/14 - Holidays
      p
        | By mid December we had spread the word - making presentations at <a href="http://startupie.com" target="_blank">StartupIE</a>, <a href="http://riversidejs.org" target="_blank">RiversideJS</a>, and to the Mayor of Riverside. And we joined the other Riverside Tech groups for the first annual holiday party - at the Salted Pig of course!

.big_wrapper
  #four.wrapper
    .point_copy.right
      h3
        | 1/4 - 9 Committed Members
      p
        | By the start of the new year, we had grown to 9 committed members! Additionally, we've had much interest from the city and the Riverside Tech CEOs to help us make this a reality!
        

